configuration {
    /* requires rofi-emoji */
	modi: "window,drun,ssh,combi,emoji";
	font: "Iosevka 12";
	show-icons: true;
	icon-theme: "candy-icons";
	combi-modi: "window,drun,run";
}
@theme "/home/louis/.local/share/rofi/themes/dracula.rasi"
